# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# pocketbase
/pb_data

/public/other
/testing-stuff
/components/portal.tsx
/styles/portal.module.css

#navbar
/styles/Navbar.module.css
/components/Navbar.tsx
/other_pages

# star wars
/components/SWcharacter.tsx
/styles/SW.module.css
/types/SW_types.ts
/public/starwars/characters



# Harry potter
/public/harrypotter/
/components/HPcharacter.tsx
/styles/HP.module.css
/types/HP_types.ts