@import url(https://fonts.googleapis.com/css?family=Roboto);

.main {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.RMcard {
  height: auto;
  width: auto;
  padding: 0 1rem 1rem 1rem;
  border-radius: 20px;
  background-color: #b1dbeb;
  box-shadow: 1px 2px 10px 4px #acacac;
}

.RMcard:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 15px 4px #8bce0f;
}
